{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.764"}
        thheller/shadow-cljs {:mvn/version "2.11.4"}
        reagent {:mvn/version "1.0.0-alpha2"}
        markdown-to-hiccup {:mvn/version "0.6.2"}
        thi.ng/color {:mvn/version "1.4.0"}
        stylefy {:mvn/version "2.2.1"}}